<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6980278F1C7AA7A800AF3397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>698027A81C7AA7A800AF3397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>698027B31C7AA7A800AF3397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
